@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); 
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); 
}
.pink-gradient {
  background: #ffffff; /* Fallback for browsers that do not support gradients */
  background: -webkit-linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 0%,
    #e966a0 86%
  ); /* For Safari and older Chrome versions */
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 0%,
    #e966a0 86%
  ); /* Standard syntax */
}

.green-text-gradient {
  background: #11998e; 
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); 
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {

  background: #56ccf2; 
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); 
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


body[data-theme="dark"] {
  background-color: #060930;
  color: #ffffff; 
}


body[data-theme="light"] {
  background-color: #f2f2f2 !important ; 
  color:#060930 !important;
  
}



body[data-theme="light"] nav p {
  color: #060930;
}



body[data-theme="light"]   h2,h3 {
  color: #060930 ; 
}












